div{
    background-color: tomato;
    text-transform: capitalize;
    padding: 10px;
    margin: 10px;
    
}
.asif{
    text-transform: capitalize;
    text-align: center;
    font-size: 15px;
    background-color: aqua;
    height: 100px;

}
img{
    height: 300px;
    width: 300px;

}